 
.sign-up{
  max-width: 400px;
  margin: 8rem auto;
  font-size: 1.125rem;
  color: #20303c;
}

.sign-up header{
 margin-bottom: 4rem;
 text-align: center;
}
.sign-up header h2{
font-size: 3rem;
font-weight: 700;
}
.sign-up header p{
  letter-spacing:  1px;
}

fieldset{
  border:none;
 
 
}
.email-control, .password-control{
  display: flex;
  padding: 0 0.5rem 0.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  position:relative;
}
 
 

label, footer{
  color:rgb(114, 124, 133);
}
label {
 position:absolute;
 font-size: 18px;
 left:8px;

 
}
.move{
  animation: shimmy 0.3s forwards ;
  transform-origin: top left;
}
.shake{
  transform-origin: top left;
  animation: shake 0.3s forwards;
}
 
 
@keyframes shimmy {
  0% {
    transform: translate(0, 0) scale(1) ;
  }
  100% {
    transform: translate(-0.5rem , -1.25rem) scale(0.75);
  }
}

@keyframes shake {
  0% {
    transform: translate(-0.5rem,-1.25rem) scale(0.75) 
  }
  100% {
    transform: translate(0, 0) scale(1) 
  }
}

input{
  font-size:1.5rem;
  background:transparent;
  border:none;
  color:rgb(78, 85, 92);
 flex:1;
 

}
 
input[type="text"], input[type="password"]{
  padding-left: 0.5rem;
}

input[type="button"]{
  background-color:#116dff;
  color:white;
  border-radius:4px;
  padding: 0.5rem 1rem;
  width:100%;
  font-size: 2rem;
  margin-top: 0.5rem;
}

footer{
  width: 94%;
  margin: 0.5rem auto 0;
  padding: 0.5rem;
  font-size: 0.8rem;
}
 