/* 
   Copy and Paste these styles into your styles.css if you want to use the font
        font-family:"helveticaneuebold"
        font-family:"helveticaneuemedium"
        font-family:"helveticaneueregular"
*/
@font-face {
    font-family: "helveticaneuebold";
    src: url("../fonts/helveticneue/helvetica_neu_bold-webfont.woff2")
        format("woff2"),
      url("../fonts/helveticneue/helvetica_neu_bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "helveticaneuemedium";
    src: url("../fonts/helveticneue/helveticaneue_medium-webfont.woff2")
        format("woff2"),
      url("../fonts/helveticneue/helveticaneue_medium-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "helveticaneueregular";
    src: url("../fonts/helveticneue/helveticaneue-webfont.woff2") format("woff2"),
      url("../fonts/helveticneue/helveticaneue-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }