/*
    Copy these @font-face rules into the styles.css file if you want to use this font

*/



@font-face {
    font-family: 'product_bold_italic';
    src: url('../fonts/product/product_sans_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/product/product_sans_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'product_bold';
    src: url('../fonts/product/product_sans_bold-webfont.woff2') format('woff2'),
         url('../fonts/product/product_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'product_italic';
    src: url('../fonts/product/product_sans_italic-webfont.woff2') format('woff2'),
         url('../fonts/product/product_sans_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'product_regular';
    src: url('../fonts/product/product_sans_regular-webfont.woff2') format('woff2'),
         url('../fonts/product/product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}