html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul,
li,
ol {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}

body {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1b2229;
}

.banner {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:  1rem;
}

img {
  width: 4.5rem;
  margin-right: 0.5rem;
}

.headline {
  text-align: center;
  padding-top: 0.8rem;
}
  .headline h1 {
  color: #808080;
  line-height: 0.5rem;
 
}  

.headline p {
  display: inline-block;
  text-decoration: none;
  color: rgb(189, 183, 182);
  font-weight: 300;
  font-size: 12px;
}
